<header>
  <nav role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Some Title <i class="material-icons left hide-on-med-and-down">apps</i></a>
      <ul id="dropdown" class="dropdown-content">
        <li><a href="">Register</a></li>
        <li class="divider"></li>
        <li><a href="">Sign In</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li id="timer-tab"><a href="">Tab 1</a></li>
        <li id="stats-tab"><a href="">Tab 2</a></li>
        <li id="graphs-tab"><a href="">Tab 3</a></li>
        <li><a href="" data-activates="dropdown" class="dropdown-button">Tab 4<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</header>