  <!-- Modal Structure -->
  <div id="modal-warn" class="modal col s6" style="width: 20%">
    <div class="modal-content">
      <h4>Aviso</h4>
      <p>É necessário selecionar pelo menos uma linha de batidas para edição!</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
  </div>